<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header class="w-full py-2">
        <nav class="w-[90%] mx-auto flex items-center px-4 justify-between rounded-2xl bg-[var(--primary-color)]">
            <div class="flex items-center gap-4">
              <a href="../index.html">
                <img 
                    src="../assets/LogoTUP.png" 
                    alt="TupYa Logo"
                    width="100"
                    height="100"
                >
              </a>
                <ul class="flex items-center gap-4 text-[var(--text-color)]">
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="./products.html">Productos</a>
                    </li>
                </ul>
            </div>
                    <a href="./pedidos.html">
          <iconify-icon
            class="text-[var(--text-color)] cursor-pointer"
            icon="solar:bag-3-linear"
            width="32"
            height="32"
          ></iconify-icon>
        </a>
        </nav>
    </header>
  </body>
    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="../scripts/main.js"></script>
</html>
